<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/home.css" />
  </head>

  <body>
    <!-- Titled Box -->

    <div id="box-container">
      <div id="tilted-box"></div>
    </div>

    <!-- Navbar-->

    <nav>
      <div id="nav-contents">
        <div class="nvlogo">
          <img src="img/HMS.svg" alt="logo" id="nav-logo" />
        </div>
        <ul id="nav-links">
          <a href="Home2.html">
            <li id="home" style="background: #3e3e3e; color: white">Home</li>
          </a>
          <a href="AboutUs.html">
            <li id="aboutus">About Us</li>
          </a>
          <a href="ULogin.html">
            <li id="login">Login/Register</li>
          </a>
        </ul>
        <!-- <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-list"
            viewBox="0 0 16 16"
            id="menu"
            onclick="toggleMenu();"
          >
            <path
              fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
            />
          </svg> -->
      <!-- </div>
      <div id="mobmenu">
        <a href="Home.html" style="background: #3e3e3e; color: white" onclick="toggleMenu();">
        <div class="moblink" style="background: #3e3e3e; color: white;">
            Home
          </div>
        </a>
        <a href="AboutUs.html" onclick="toggleMenu();">
        <div class="moblink">
            About Us
          </div>
        </a>
        <a href="ULogin.html" onclick="toggleMenu();">
        <div class="moblink">
            Login/Register
          </div>
        </a>
      </div> -->
    </nav>